{% import "macros.html" as macros %}
<!doctype html>
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery.tooltip.css') }}" />
  <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.tooltip.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.scrollTo.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='game.js') }}" type="text/javascript"></script>
  <script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <title>{% block title %}{% endblock %} – Domination</title>
  {% endblock %}
</head>
<body>
  <h1><a href="{{ url_for('index') }}">Domination</a></h1>
  <noscript>This game needs JavaScript to work properly!</noscript>
  <div id="menu">
    <ul>
      {% if not session.username %}
      <li>
        <a href="{{ url_for('login') }}">log in</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for('create_game') }}">Create new game</a>
      </li>
      <li>
        <a href="{{ url_for('logout') }}">log out</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    Domination – &copy; 2010 Various authors
    {% endblock %}
  </div>
</body>

