{% import "macros.html" as macros %}
<!doctype html>
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery.tooltip.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cupertino/jquery-ui-1.8.custom.css') }}" />
  <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.tooltip.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.scrollTo.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.corner.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.random.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery-ui.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.ui.draggable.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='game.js') }}" type="text/javascript"></script>
  <script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <title>{% block title %}{% endblock %} – Domination</title>
  {% endblock %}
</head>
<body>
  <noscript>{{ _('This game needs JavaScript to work properly!') }}</noscript>
  <div id="menu">
    <ul>
      {% if not session.username %}
      <li>
      <a href="{{ url_for('login') }}">{% trans %}log in{% endtrans %}</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for('index') }}">{% trans %}view game list{% endtrans %}</a>
      </li>
      <li>
        <a href="{{ url_for('create_game') }}">{% trans %}create new game{% endtrans %}</a>
      </li>
      <li>
        <a href="{{ url_for('logout') }}">{% trans %}log out{% endtrans %}</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div id="header">
    <h1><a href="{{ url_for('index') }}">Domination</a></h1>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    Domination – {% trans %}&copy; 2010 Various authors{% endtrans %}
    {% endblock %}
  </div>
</body>

