{% extends "base.html" %}
{% block title %}Create new game{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript">
    $(function() {
      $("input[name=edition]").change(update_sets);
      update_sets();
    });
    var update_sets = function() {
      $("input[name=edition]").each(function(i) {
        var key = $(this).attr("value");
        if (! $(this).attr("checked")) {
          $(".edition-" + key).parent().hide()
                              .find("input").attr("checked", false);
          $(".needs-" + key).hide();
        } else {
          $(".edition-" + $(this).attr("value")).parent().show();
          // XXX convoluted loop to make sure only valid sets are visible
          $(".needs-" + key).each(function(i) {
            var enable = true;
            var classes = $(this).attr("class").split(/\s+/);
            for (cls in classes) {
              if (classes[cls] == "") continue;
              if (! $("input[name=edition][value=" +
                      classes[cls].substr(6) + "]").attr("checked")) {
                enable = false;
                break;
              }
            }
            if (enable)
              $(this).show();
          });
        }
      });
      update_button();
    };
    var update_button = function() {
      var button = $("input[type='submit']")[0];
      var checkmarks = $("input[name=card_key]:checked").size();
      button.disabled = (checkmarks != 10);
      $("#noofcards").text(checkmarks + " card" + (checkmarks == 1 ? "" : "s"));
    };
    $(function() {
      $("input[name=card_key]").change(update_button);
      update_button();
    });
    function select_set(cards) {
      $("input[name=card_key]:checked").attr("checked", false);
      $.each(cards, function(index, value) {
        $("input[name=card_key][value='" + value + "']").attr("checked", true);
      });
      update_button();
    }
    function select_random_set() {
      $("input[name=card_key]:checked").attr("checked", false);
      $("div.card:visible").children("input[name=card_key]")
                           .random(10).each(function() {
          $(this).attr("checked", true);
      });
      update_button();
    }
  </script>
  {{ macros.init_render_card() }}
{% endblock %}
{% block content %}
  <h2>Create new game</h2>
  <form action="" method="post">
    <p>Name of Game: <input type="text" name="name" value="Game of {{ session.username }}"></p>
    <p><input type="checkbox" name="ai" value="yes">Add an AI player</p>
    <p>Editions:
      {% for edition in editions %}
      <input type="checkbox" name="edition" value="{{ edition.key }}"
      {% if not edition.optional %}checked="checked" disabled="disabled"{% endif %}>
      {{ edition.name }}
      {% endfor %}
    </p>
    <p>Sets:
      <a href="javascript:;" onclick='select_set([])'>Empty</a>
      <a href="javascript:;" onclick='select_random_set()'>Random</a>
      {% for set, cards in card_sets %}
        <a href="javascript:;" class="{% for ed in set.editions %}needs-{{ ed.key }} {% endfor %}"
           onclick='select_set({{cards | tojson | safe}})'>{{ set.name }}</a>
      {% endfor %}

    <p>Which 10 cards? You selected <span id="noofcards"></span>.
      {% for cls in app.card_classes %}
        {% call macros.render_card(cls) %}
          <span id="card-{{ cls.__name__ }}"></span>
          <span class="edition-{{ cls.edition.key }}"></span>
          <input type="checkbox" name="card_key" value="{{ cls.__name__ }}">
        {% endcall %}
      {% endfor %}
    <p><input type="submit" value="Create game"></p>
  </form>
{% endblock %}
