{% extends "base.html" %}
{% block title %}Game: {{ game.name }}{% endblock %}
{% block head %}
  {{ super() }}
  {% if not req %}
  <script type="text/javascript">
    var initial_seqno = {{ seqno | tojson | safe }};
    var game_name = {{ runner.game.name | tojson | safe }};
    $(handle_page_refresh);
  </script>
  {% endif %}
  <script type="text/javascript">
    {% if req %}
      your_turn_reminder();
    {% endif %}
    /* $(function() {
        $.scrollTo("#game");
    }); */
  </script>
  {{ macros.init_render_card() }}
{% endblock %}
{% block content %}
<a id="game"></a>
<h2>{{ game.name }}{% if runner.startable(runner.owner) %} (stopped){% endif %}
  {% if game.round %} (round {{ game.round }}){% endif %}</h2>
  <ul>
    {% if game not in store.games and runner.joinable %}
      <li><form action="{{ url_for("join_game", name=game.name) }}" method="post">
        <input type="submit" value="Join">
      </form></li>
    {% endif %}
    {% if runner.startable(store.games[game]) %}
      <li><form action="{{ url_for("start_game", name=game.name) }}" method="post">
        <input type="submit" value="Start">
      </form></li>
    {% endif %}
    {% if runner.state != "ended" and player == runner.owner %}
      <li><form action="{{ url_for("cancel_game", name=game.name) }}" method="post">
        <input type="submit" value="Abort game">
      </form></li>
      {% endif %}
  </ul>
  <div id="players">
    <h3>Players</h3>
    <ul>
      {% for player in game.players %}
      <li class="{% if player.current %}activeplayer{% endif %}">{{ player.name }} ({{ player.hand | count }} of {{ (player.hand + player.deck + player.discard_pile) | count }} cards in hand)
      {% if runner.waiting_for == player %} (waiting for this player){% endif %}
      </li>
      {% endfor %}
    </ul>
    {% if game.kibitzers %}
      <h3>Kibitzers</h3>
      <ul>
        {% for kibitzer in game.kibitzers %}
        <li>{{ kibitzer.name }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% if player and (player.deck or player.discard_pile) %}
    <div id="pileinfo">
      <h3>Your deck</h3>
      {{ player.deck | count }} cards
      <h3>Your discard pile</h3>
      {{ player.discard_pile | count }} cards
    </div>
  {% endif %}
  <div id="infosep"></div>

  {% if runner.state == "ended" %}
  <h3>The game has ended. {{ game.end_of_game_reason }}</h3>
    <ul>
    {% for player in game.players %}
      <li>{{ player.name }}: {{ player.deck | count }} cards, {{ player.points(game) }} points</li>
    {% endfor %}
    </ul>
    Your cards:
    {% for card in player.deck %}
      {{ macros.render_card(card) }}
    {% endfor %}
  {% endif %}

  {% if info_queue %}
  <ul>
    {% for req in info_queue %}
      <li class="infoitem">
        <h3>{{ req.msg }}</h3>
        {% for card in req.cards %}
          {{ macros.render_card(card) }}
        {% endfor %}
        </li>
    {% endfor %}
    <li class="infoitem">
      <form action="{{ url_for("clear_info", name=game.name) }}" method="post">
        <input type="submit" value="Clear">
      </form>
    </li>
  </ul>
  {% endif %}
  {% if req %}
    <h3>{{ req.msg }}</h3>
    {% if req.last_error %}
      <div class="errormessage">{{ req.last_error }}</div>
    {% endif %}
    {% if req_type == "SelectDeal" %}
    <p>You have {{ player.remaining_money }} Money{% if player.remaining_potion %}, {{ player.remaining_potion }} Potion{% endif %} and {{ player.remaining_deals }} buys remaining!</p>
      {% for card in req.cards %}
        {% call macros.render_card(card) %}
          <span class="{% if not game.supply[card.__name__] %}importantfigure{% endif %}">
            {{ game.supply[card.__name__] | count }} left</span>
          {% if req.is_buyable(card) %}
            <form action="" method="post">
              <input type="hidden" name="req_id" value="{{ req_id }}">
              <input type="hidden" name="card" value="{{ card.__name__ }}">
              <input type="submit" value="Buy">
            </form>
          {% endif %}
        {% endcall %}
      {% endfor %}
      <form action="" method="post">
      <input type="hidden" name="req_id" value="{{ req_id }}">
      <input type="submit" value="Cancel">
      </form>
    {% elif req_type == "SelectHandCards" %}
      {% if req.count_upper != 1 and req.count_upper != none %}
        You may select at most {{ req.count_upper }} cards.
      {% endif %}
      {% if not req.count_lower in (0, 1) %}
        You need to select at least {{ req.count_lower }} cards.
      {% endif %}
      {% if req.count_upper != 1 %}
        <form action="" method="post">
          <input type="hidden" name="req_id" value="{{ req_id }}">
      {% endif %}
      {% for card in player.sorted_hand %}
        {% call macros.render_card(card) %}
          {% if req.is_selectable(card) %}
            {% if req.count_upper == 1 %}
              <form action="" method="post">
              <input type="hidden" name="req_id" value="{{ req_id }}">
              <input type="hidden" name="card" value="{{ loop.index0 }}">
              <input type="submit" value="Select">
              {% if req.count_lower == 0 %}
                <input type="submit" name="canceled" value="Cancel">
              {% endif %}
              </form>
            {% else %}
              <input type="checkbox" name="card" value="{{ loop.index0 }}">
            {% endif %}
          {% endif %}
        {% endcall %}
      {% endfor %}
      {% if req.count_upper != 1 %}
          <input type="submit" value="Select">
        </form>
      {% endif %}
    {% elif req_type == "SelectCard" %}
      {% for card in req.card_classes %}
        {% call macros.render_card(card) %}
          {% if req.show_supply_count %}
            {{ game.supply[card.__name__] | count }} left
          {% endif %}
          <form action="" method="post">
            <input type="hidden" name="req_id" value="{{ req_id }}">
            <input type="hidden" name="card" value="{{ card.__name__ }}">
            <input type="submit" value="Select">
          </form>
        {% endcall %}
      {% endfor %}
    {% elif req_type == "YesNoQuestion" %}
      <form action="" method="post">
        <input type="hidden" name="req_id" value="{{ req_id }}">
        <input type="hidden" name="answer" value="yes">
        <input type="submit" value="Yes">
      </form>
      <form action="" method="post">
        <input type="hidden" name="req_id" value="{{ req_id }}">
        <input type="hidden" name="answer" value="no">
        <input type="submit" value="No">
      </form>
    {% elif req_type == "Question" %}
      {% for option in req.options %}
      <form action="" method="post">
        <input type="hidden" name="req_id" value="{{ req_id }}">
        <input type="hidden" name="answer" value="{{ option[0] }}">
        <input type="submit" value="{{ option[1] }}">
      </form>
      {% endfor %}
    {% elif req_type == "MultipleChoice" %}
      {# XXX implement restriction on number of choices #}
      <form action="" method="post">
      {% for option in req.options %}
        <input type="checkbox" name="answer" value="{{ option[0] }}">
        {{ option[1] }} <br>
      {% endfor %}
        <input type="hidden" name="req_id" value="{{ req_id }}">
        <input type="submit" value="Select">
      </form>
    {% else %}
      Unknown request {{ req | string }}!
    {% endif %}
  {% endif %}
  {% if player %}
    {% if not player.deck and not player.hand and runner.state != "ended" %}
      {% if game.players | count == 1 %}
        Waiting for further players ...
      {% else %}
        Waiting for {{ runner.owner.name }} to start the game ...
      {% endif %}
    {% else %}
      {% if player.activated_cards %}
        <h3>Activated action cards</h3>
        {% for card in player.activated_cards %}
          {{ macros.render_card(card) }}
        {% endfor %}
      {% endif %}
      {% if req_type != "SelectHandCards" %}
        <h3>Your hand</h3>
        {% for card in player.sorted_hand %}
          {{ macros.render_card(card) }}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if req_type != "SelectDeal" %}
    <div id="supply">
      <h3 onclick="show_supply();">Supply</h3>
      <div id="supplycards">
        {% for key, cards in game.supply | dictsort %}
          {% if cards %}
            {% call macros.render_card(cards[0]) %}
              <span class="{% if not game.supply[key] %}importantfigure{% endif %}">
                {{ game.supply[key] | count }} left</span>
            {% endcall %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif%}
{% endblock %}
