{% extends "base.html" %}
{% block title %}{% trans %}Game: {% endtrans %}{{ game.name }}{% endblock %}
{% block head %}
  {{ super() }}
  {% if not req %}
  <script type="text/javascript">
    var initial_seqno = {{ seqno | tojson | safe }};
    var game_name = {{ runner.game.name | tojson | safe }};
    $(handle_page_refresh);
  </script>
  {% endif %}
  <script type="text/javascript">
    {% if req %}
      your_turn_reminder();
    {% endif %}
    $(function() {
        {% if req %}
        var offset = 2;
        {% else %}
        var offset = 1;
        {% endif %}
        $.scrollTo("#infoend", {offset: {top: -$(window).height() / offset}});
    });
  </script>
  {{ macros.init_render_card() }}
{% endblock %}
{% block content %}
<h2>{{ game.name }}{% if runner.startable(runner.owner) %} {% trans %}(stopped){% endtrans %}{% endif %}
  {% if game.round %} {{ _('(round %i)', (game.round, )) }}{% endif %}</h2>
  <ul>
    {% if game not in store.games and runner.joinable %}
      <li><form action="{{ url_for("join_game", name=game.name) }}" method="post">
	      <input type="submit" value="{% trans %}Join{% endtrans %}">
      </form></li>
    {% endif %}
    {% if runner.startable(store.games[game]) %}
      <li><form action="{{ url_for("start_game", name=game.name) }}" method="post">
	      <input type="submit" value="{% trans %}Start{% endtrans %}">
      </form></li>
    {% endif %}
    {% if runner.state != ENDED and player == runner.owner %}
      <li><form action="{{ url_for("cancel_game", name=game.name) }}" method="post">
	      <input type="submit" value="{% trans %}Abort game{% endtrans %}">
      </form></li>
      {% endif %}
  </ul>
  <div id="players">
	  <h3>{% trans %}Players{% endtrans %}</h3>
    <ul>
      {% for p in game.players %}
      <li class="{% if p.current %}activeplayer{% endif %}">{{ p.name }} {{ _('(%(handcount)s of %(totalcount)s cards in hand)', {"handcount": p.hand | count, "totalcount": p.total_cards | count}) }}
      {% if runner.waiting_for == p %} {% trans %}(waiting for this player){% endtrans %}
      {% if player == runner.owner and p != player and game.players | count > 2 %}
        <form action="{{ url_for("kick_player", name=game.name, playername=p.name) }}" method="post">
		<input type="submit" value="{% trans %}Kick{% endtrans %}">
        </form>
      {% endif %}
      {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% if game.kibitzers %}
    <h3>{% trans %}Kibitzers{% endtrans %}</h3>
      <ul>
        {% for kibitzer in game.kibitzers %}
        <li>{{ kibitzer.name }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% if player and (player.deck or player.discard_pile) %}
    <div id="pileinfo">
      <h3>{% trans %}Your deck{% endtrans %}</h3>
      {{ _('%i cards', player.deck | count) }}
      <h3>{% trans %}Your discard pile{% endtrans %}</h3>
      {{ _('%i cards', player.discard_pile | count) }}
      <form><button type="button" onclick="show_pile('#discardpilecards', '{% trans %}Discard pile{% endtrans %}');">{% trans %}Show{% endtrans %}</button></form>
      <div id="discardpilecards">
        {% for card in player.discard_pile %}
          {% call macros.render_card(card, game) %}
          {% endcall %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div id="infosep"></div>

  {% if runner.state == ENDED %}
  <h3>{% trans %}The game has ended.{% endtrans %} {% if game.end_of_game_reason %}{% trans %}The following supplies are empty:{% endtrans %}{% else %}{% trans %}Aborted or crashed!{% endtrans %}{% endif %} {{ game.empty_pile_names }}</h3>
    <ul>
    {% for player in game.players %}
      <li>{{ _('%(pname)s: %(cards)i cards, %(points)i points', {"pname": player.name,
	      "cards": player.deck | count, "points": player.points(game)}) }}</li>
    {% endfor %}
    </ul>
    {% trans %}Your cards:{% endtrans %}
    {% for card in player.deck %}
      {{ macros.render_card(card, game) }}
    {% endfor %}
  {% endif %}

  {% if info_queue %}
  <ul>
    {% for req in info_queue %}
      <li class="infoitem">
        <h3>{{ req.msg }}</h3>
        {% for card in req.cards %}
          {{ macros.render_card(card, game) }}
        {% endfor %}
        </li>
    {% endfor %}
    <li class="infoitem">
      <form action="{{ url_for("clear_info", name=game.name) }}" method="post">
        <input type="submit" value="Clear">
      </form>
    </li>
  </ul>
  {% endif %}
  <a id="infoend"></a>
  {% if req %}
    <h3>{{ req.msg }}</h3>
    {% if req.last_error %}
      <div class="errormessage">{{ req.last_error }}</div>
    {% endif %}
    {% if req_type == "SelectDeal" %}
    <p>{% if player.remaining_potion %}
    {{ _('You have %(money)i Money, %(potion)i Potion(s) and %(buys)i buys remaining!',
    	{"money": player.remaining_money, "potion": player.remaining_potion, "buys": player.remaining_deals}) }}
    {% else %}
    {{ _('You have %(money)i Money and %(buys)i buys remaining!',
    	{"money": player.remaining_money, "buys": player.remaining_deals}) }}
    {% endif %}
    </p>
      {% for card in req.cards %}
        {% call macros.render_card(card, game) %}
          <span class="{% if not game.supply[card.__name__] %}importantfigure{% endif %}">
		  {{ _('%i left', (game.supply[card.__name__] | count, )) }}</span>
          {% if req.is_buyable(card) %}
            <form action="" method="post">
              <input type="hidden" name="req_id" value="{{ req_id }}">
              <input type="hidden" name="card" value="{{ card.__name__ }}">
	      <input type="submit" value="{% trans %}Buy{% endtrans %}">
            </form>
          {% endif %}
        {% endcall %}
      {% endfor %}
      <form action="" method="post">
      <input type="hidden" name="req_id" value="{{ req_id }}">
      <input type="submit" value="{% trans %}Cancel{% endtrans %}">
      </form>
    {% elif req_type == "SelectHandCards" %}
      {% if req.count_upper == req.count_lower != none %}
      	{{ _('You should select exactly %i cards.', (req.count_lower, )) }}
      {% else %}
      {% if req.count_upper != 1 and req.count_upper != none %}
      	{{ _('You may select at most %i cards.', (req.count_upper,)) }}
      {% endif %}
      {% if not req.count_lower in (0, 1) %}
      	{{ _('You need to select at least %i cards.', (req.count_lower,)) }}
      {% endif %}
      {% endif %}
      {% if req.count_upper != 1 or req.count_lower == 0 %}
        <form action="" method="post">
          <input type="hidden" name="req_id" value="{{ req_id }}">
      {% endif %}
      {% for card in player.sorted_hand %}
        {% call macros.render_card(card, game) %}
          {% if req.is_selectable(card) %}
            {% if req.count_upper == 1 %}
              <form action="" method="post">
              <input type="hidden" name="req_id" value="{{ req_id }}">
              <input type="hidden" name="card" value="{{ loop.index0 }}">
	      <input type="submit" value="{% trans %}Select{% endtrans %}">
              {% if req.count_lower == 0 %}
	        <input type="submit" name="canceled" value="{% trans %}Cancel{% endtrans %}">
              {% endif %}
              </form>
            {% else %}
              <input type="checkbox" name="card" value="{{ loop.index0 }}">
            {% endif %}
          {% endif %}
        {% endcall %}
      {% endfor %}
      {% if req.count_upper != 1 or req.count_lower == 0%}
        {% if req.count_lower == 0 %}
	<input type="submit" name="canceled" value="{% trans %}Cancel{% endtrans %}">
        {% endif %}
        {% if req.count_upper != 1 %}
	<input type="submit" value="{% trans %}Select{% endtrans %}">
        {% endif %}
        </form>
      {% endif %}
    {% elif req_type == "SelectCard" %}
      {% for card in req.card_classes %}
        {% call macros.render_card(card, game) %}
          {% if req.show_supply_count %}
            {{ _('%i left', (game.supply[card.__name__] | count, )) }}
          {% endif %}
          <form action="" method="post">
            <input type="hidden" name="req_id" value="{{ req_id }}">
            <input type="hidden" name="card" value="{{ card.__name__ }}">
	    <input type="submit" value="{% trans %}Select{% endtrans %}">
          </form>
        {% endcall %}
      {% endfor %}
    {% elif req_type == "YesNoQuestion" %}
      <form action="" method="post">
        <input type="hidden" name="req_id" value="{{ req_id }}">
        <input type="hidden" name="answer" value="yes">
	<input type="submit" value="{% trans %}Yes{% endtrans %}">
      </form>
      <form action="" method="post">
        <input type="hidden" name="req_id" value="{{ req_id }}">
        <input type="hidden" name="answer" value="no">
	<input type="submit" value="{% trans %}No{% endtrans %}">
      </form>
    {% elif req_type == "Question" %}
      {% for option in req.options %}
      <form action="" method="post">
        <input type="hidden" name="req_id" value="{{ req_id }}">
        <input type="hidden" name="answer" value="{{ option[0] }}">
        <input type="submit" value="{{ option[1] }}">
      </form>
      {% endfor %}
    {% elif req_type == "MultipleChoice" %}
      {# XXX implement restriction on number of choices #}
      <form action="" method="post">
      {% for option in req.options %}
        <input type="checkbox" name="answer" value="{{ option[0] }}">
        {{ option[1] }} <br>
      {% endfor %}
        <input type="hidden" name="req_id" value="{{ req_id }}">
	<input type="submit" value="{% trans %}Select{% endtrans %}">
      </form>
    {% else %}
      Unknown request {{ req | string }}!
    {% endif %}
  {% endif %}
  {% if player %}
    {% if not player.deck and not player.hand and runner.state != ENDED %}
      {% if game.players | count == 1 %}
      {% trans %}Waiting for further players ...{% endtrans %}
      {% else %}
      	{{ _('Waiting for %s to start the game ...', (runner.owner.name, )) }}
      {% endif %}
    {% else %}
      {% if player.activated_cards %}
      <h3>{% trans %}Activated action cards{% endtrans %}</h3>
        {% for card in player.activated_cards %}
          {{ macros.render_card(card, game) }}
        {% endfor %}
      {% endif %}
      {% if req_type != "SelectHandCards" %}
      <h3>{% trans %}Your hand{% endtrans %}</h3>
        {% for card in player.sorted_hand %}
          {{ macros.render_card(card, game) }}
        {% endfor %}
      {% if player.duration_cards %}
        <h3>{% trans %}Duration Cards from last round{% endtrans %}</h3>
          {% for card in player.duration_cards %}
            {{ macros.render_card(card, game) }}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if req_type != "SelectDeal" %}
    <div id="supply">
      <form>
        <input type="button" onclick="show_pile('#supplycards', '{% trans %}Supply{% endtrans %}');" value="{% trans %}Supply{% endtrans %}">
      </form>
      <div id="supplycards">
        {% for key, cards in game.supply | dictsort %}
          {% if cards %}
            {% call macros.render_card(cards[0], game) %}
              <span class="{% if not game.supply[key] %}importantfigure{% endif %}">
		{{ _('%i left', (game.supply[key] | count, )) }}</span>
            {% endcall %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif%}
{% endblock %}
