{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
  <h2>Overview</h2>
  <h3>Running games</h3>
  <table border="1">
  <tr><th>Name</th><th>State</th><th>Players</th><th>Cards</th><th>Round</th></tr>
    {% for runner in runners %}
    <tr><td><a href="{{ url_for('game', name=runner.game.name) }}">{{ runner.game.name }}</a></td><td>{{ runner.state }}</td><td>{{ runner.game.player_names }}</td><td>{{ runner.game.selected_cards_str }}
    </td><td>{{ runner.game.round }}</td></tr>
    {% else %}
    <tr><td colspan="5">None</td></tr>
    {% endfor %}
  </table>
{% endblock %}

