{% macro render_card(card, game=None, player=None) -%}
<div class="card {{ card.card_type }}{% if card.second_card_type %} Also{{ card.second_card_type }}{% endif %}">
  <h4>{{ card.name }} <span class="costs">&nbsp;{{ card.cost }}&nbsp;</span>{% if card.potioncost %} <span class="potioncosts">&nbsp;{{ card.potioncost }}&nbsp;</span>{% endif %}</h4>
  <div style="display: none;">
    <div class="descriptionblock">
      {% if not make_image_url(card) %}
        <h5 class="descheading">{% trans %}Description{% endtrans %}</h5>
        <div class="description">
          {{ card.desc }}
        </div>
        {% if card.worth %}
        <div class="worth">
          <em>{% trans %}Worth:{% endtrans %}</em> {{ card.worth }}
        </div>
        {% endif %}
        {% if card.potion %}
        <div class="potion">
          <em>{% trans %}Potion(s):{% endtrans %}</em> {{ card.potion }}
        </div>
        {% endif %}
        {% if card.points  %}
        <div class="points">
          <em>{% trans %}Point(s):{% endtrans %}</em> {{ card.points }}
        </div>
        {% endif %}
        <em>{% trans %}Cost:{% endtrans %}</em>
        {% if card.potioncost %}
        {{ _('%(cost)s Money and %(potion)i Potion(s)', {"cost": card.cost, "potion": card.potioncost}) }}
        {% else %}
        {{ _('%(cost)s Money', {"cost": card.get_cost(game, player)}) }}
        {% endif %}
        {% if game %}
        <div class="cardinfos">
          {% for key, value in card.get_card_infos(game) %}
            <p><em>{{ key }}:</em> {{ value }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <p>{{ card.classnames() }}</p>
      {% else %}
        <img src="{{ make_image_url(card) }}" border="0" alt="{{ card.name }}">
        {% if game %}
        <div class="cardinfos">
          {% for key, value in card.get_card_infos(game) %}
            <p><em>{{ key }}:</em> {{ value }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% if caller %}
    {{ caller() }}
  {% endif %}
</div>
{%- endmacro %}
{% macro init_render_card() -%}
  <script type="text/javascript">
    $(function() {
      $(".card").tooltip({
        bodyHandler: function() {
          return $($(this).find(".descriptionblock")).html()
        },
        showURL: false,
        track: true
      });
    });
    $(function() {
      $(".costs").corner("10px");
      $(".potioncosts").corner("10px");
      $(".card").corner();
    });
  </script>
{%- endmacro %}
