body { margin: 0; padding: 0; }

#menu { float: right; margin-right: 1em; }
#menu ul { margin: 0.4em 0; padding: 0 0 0 2em; list-style: none; }
#menu ul li { display: inline; padding-left: 1.5em; }

#header { border-bottom: 1px solid #AAAAAA; padding: 0 1em; }
#header h1 { margin: 0.4em 0; }
#header a { text-decoration: none; color: black; }

#content { clear: both; padding: 0 1em; }

#footer { margin-top: 1.5em; border-top: 1px solid #AAAAAA; padding: 0.8em 1em;
          text-align: right; color: #666666; }
#pileinfo { float: right; }
#players { float: left; }
#infosep { clear: both; }
#supply h3 { cursor: pointer; }
#supplycards { display: none; }

.card { display: inline-block; width: 9em; padding: 0.5em; margin: 0.5em; }
.card h4 { margin-top: 0px; margin-bottom: 0.8em; }
.card span.costs { background-color: #FFEF99; float: right; }
.card span.potioncosts { background-color: #3585DE; float: right; }
.descheading { margin-top: 0px; }
.importantfigure { font-weight: bold; color: darkred; }

.VictoryCard { background-color: #7FFF00; }
.AlsoVictoryCard { border: 3px solid #7FFF00; }
.AlsoDurationCard { border: 3px solid #FF6E00; }
.CurseCard { background-color: #DA70D6; }
.TreasureCard { background-color: gold; }
.ActionCard { background-color: #EEEEEE; }
.AttackCard { background-color: #FFD7D7; }
.ReactionCard { background-color: #D7D7FF; }

.activeplayer { font-style: italic;  }
.infoitem { display: inline-block; width: 15em; }
